.screen{
  background-color: grey;
  width: 100%;
  height: 100%;

}

.change_screen *{
  animation: change_screen 0.5s ease-in-out running;
}

@keyframes change_screen {
  0%{
      border-color: black;
  }
  100%{
      border-color: white;
  }
}