.logoTop{
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 0.05rem solid #3C4347;
  border-bottom: 0.05rem solid #3C4347;
  width: 21.7rem;
  img{
    width: 13.9rem;
    margin-left: 1rem;
  }
}
